@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}
body{
    width: 100%;
}

/* Header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(236, 240, 243);
    padding: 6px 50px;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .logo{
    height: 5vh;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 50px 20px 15px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active{
    color: orange;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background-color: maroon;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.upper{
    font-size: 19px;
    display: block;
    padding: 10px 40px 10px 150px;
    color: #030303;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(245, 243, 240);
}

.upper a{
    text-decoration: none;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}



/* Home page */
.main{
    height: 70vh;
    width: 100%;
    
}

.wrapper, .slide{
    width: 100%;
    height: 100%;
}

.slide{
    overflow: hidden;
}

.slide::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}
.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.slide video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* slide 1 */
.text-box{
    top: 20vh;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    
}

.text-box h1{
    font-size: 60px;
    color: #fff;
    padding: 0 450px;
}

.text-box h2{
    color: #fff;
    font-size: 3vw;
    padding: 0 45px;
}

.text-box h3{
    font-size: 1vw;
    padding: 10px 45px;
}

.text-box .btn{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    padding: 15px 0;
    border: 2px solid rgb(128, 2, 2);
    background: maroon;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
    border-radius: 25px;
    transition: .2s;
}

.btn:hover{
    background: transparent;
    border: 2px solid #fff;

}

/* slide 2 */

.slide .text-box{
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 100;
}
.text-box span.text{
    font-size: 50px;
    font-weight: bold;
    color: #ffff;
}

.text-box h2{
    font-size: 2vw;
    color: #ffff;
    
}
a.button{
    
    display: inline-block;
    padding: 15px 20px;
    font-weight: bold;
    background-color: aliceblue;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 20px;
    transition: all .3s ease;

}

a.button:hover{
    background-color: transparent;
    margin-top: 5px;
    color: #ffff;
    border: 2px solid rgb(255, 255, 255);
}

/* Swiper Btn CSS */

.nav-btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(255, 255, 255,0.3);
}

.nav-btn:hover{
    background: rgb(255, 255, 255,0.4);
}

.swiper-button-next{
    right: 50px;

}
.swiper-button-prev{
    left: 50px;
}



.nav-btn::before,
.nav-btn::after{
    font-size: 25px;
    color: #ffff;
}

.swiper-pagination-bullet{
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #ffff;
    
}

.swiper-pagination-bullet-active{
    border: 2px solid #ffff;
    background-color: rgb(71, 70, 70);
}


/* Features */


#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;

}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(157, 51, 51, 0.03);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    /* display: inline-block; */
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}


/* featured product */

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
} 

#product1 .pro{
    width: 23%;
    min-width: 200px;
    padding: 10px 12px;
    border: 3px solid aliceblue;
    border-radius: 22px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 10px 0 15px;
    transition: .2s ease;
    position: relative;
}


#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
    transform: scale(1.04);
    transform: scale(1,1.05);
}

#product1 .pro img{
    width: 100%;
    height: 37vh;
    border-radius: 20px;
    transition: 0.5s all ease-in-out;
}



#product1 .pro img:hover{
    transform: scale(1.05);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des strike{
    padding-left: 8px;
    font-size: 14px;
    color: #aeaec1;
}
#product1 .pro .des h5{
    font-size: 12px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 18px;
    font-weight: 700;
    color: #000000 ;
}

#product1 .pro .cart{
    width: 3vw; 
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #F0F0F0;  
    color: #000000;
    border: 1px solid seashell;
    position: absolute;
    bottom: 20px;
    
    right: 10px;
    transition: 0.2s;

}

#product1 .pro .cart:hover{
    transform: scale(1.1);
}

/* Banner */

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
   
}

#banner h2{
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner span{
    color: red;
}

#banner h4{
    color: white;
    font-size: 16px;
}


#banner button:hover{
    margin-top: 2px;
    background-color: #088178;
    color: #e8e8e8;
}


/* banner 2 */

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b17.jpg);
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

/* 2nd box */
#sm-banner .box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b10.jpg);
    min-width: 650px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #ffffff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span{
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner span.diff{
    color: #b56235;
    font-size: 28px;
    font-weight: 800;
    padding-bottom: 15px;
}

.banner-box button{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    transition: .2s ease;
}

.banner-box button:hover{
    background-color: #7B4437;
}


/* 2nd box button */
.banner-box .btn:hover{
    background-color: #435958;
}

/* banner 3 */

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b4.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(21, 6, 6, 0.4);
    z-index: 100;
}
#banner3 .right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/banner/b18.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 h2{
    color: white;
    font-weight: 900;
    font-size: 22px;
    
}

#banner3 h3{
    color: rgb(201, 61, 61);
    font-weight: 800;
    font-size: 25px;

}


/* special offer notification */

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-color: #041e42;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p{
    font-size: 18px;
    font-weight: 600;
    color: rgb(148, 142, 142);
}
#newsletter p span{
    color: rgb(185, 115, 45);
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.15rem;
    padding: 0 1.5rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    background-color: #045b55;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .sign{
    font-size: 14px;
    font-weight: 600;
    padding: 7px 23px;
    color: #000;
    background-color: #045b55;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
}


/* footer  */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: "Spartan", sans-serif;
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 20px;
}


footer p{
    font-size: 18px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #1c1a1a;
    margin-top: 15px;
    
    
} 

footer .follow i{
    color: black;
    padding-right: 4px;
    cursor: pointer;
    margin-top: 5px;

}

footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: maroon;
}


.copyright{
    width: 100%;
    text-align: center;
}



/*                                          Shop page                                       */

.shop-front{
    height: 55vh;
    width: 100%;
    
}

#pagination{
    text-align: center;

}

#pagination .now{
    /* text-decoration: none; */
    background-color: rgb(174, 95, 95);
    /* padding: 15px 20px;
    color: white;
    border-radius: 4px;
    font-weight: 600; */
    
}

#pagination a{
    text-decoration: none;
    background-color: maroon;
    padding: 15px 20px;
    color: white;
    border-radius: 4px;
    font-weight: 600;
}

#pagination a i{
    font-size: 16px;
}


/*          single product               */

#prodetails{
    display: flex;
    margin-top: 20px;
}


#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-image #MainImage{
    height: 70vh;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.small-img-col img{
    height: 20vh;
}

#prodetails .single-pro-details{
    width: 50%;
    margin-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 17px 0 20px 0;
}

#prodetails .single-pro-details h3{
    padding-top: 14px;
}

#prodetails .single-pro-details strike{
    color: #606063;
    font-size: 15px;
    margin-left: 5px;
}

#prodetails .single-pro-details select{
    display: block;
    color: gray;
    font-size: 12px;
    padding: 3px 5px;
    margin-bottom: 10px;
    border-radius: 6px;

}

#prodetails .single-pro-details input{
    width: 40px;
    height: 37px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details button{
    padding: 10px 10px 9px 13px;
    background-color: maroon;
    color: white;
}

#prodetails .single-pro-details .description{
    font-size: 22px;
}

#prodetails .single-pro-details span{
    font-size: 18px;    
    line-height: 25px;
    color: rgb(80, 76, 76);
}


/*                              blog page                 */

#blog-head{
    position: relative;
    width: 100%;
    height: 40vh;
}

#blog-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 40%;
    margin-right: 40px;
}

#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;

}

#blog .blog-details a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 700;
    position: relative;
}

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1.5px;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: -60px;
    transition: 0.2s;
}

#blog .blog-details a:hover::after{
    color: #481607;
}

#blog .blog-details a:hover{
    color: #810c08;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #a3a3a6;
    z-index: -9;
}


/*                                              About section                             */


#about-head{
    position: relative;
    width: 100%;
    height: 40vh;
}

#about-head img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about{
    display: flex;
    align-items: center;
}

#about img{
    width: 40vw;
    height: auto;
}

#about div{
    padding-left: 40px;
}

#about div p{
    line-height: 20px;
}

#about-app{
    text-align: center;
}

#about-app .video{
    width: 60vw;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}




/*                          contact us page           */

#contact_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#contact_detail .detail{
    width: 40%;
}

#contact_detail .detail span,
#form_detail form span{
    font-size: 12px;
}


#contact_detail .detail h2,
#form_detail form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact_detail .detail h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact_detail .detail li{
    list-style: none;
    display: flex;
    padding: 10px 0
}

#contact_detail .detail li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact_detail .detail li p{
    margin: 0;
    font-size: 14px;
}

#contact_detail .map{
    width: 60vw;
    height: 70vh;
    margin: 10vh 0 10vh 5vh;
}

#contact_detail .map iframe{
    width: 100%;
    height: 100%;
}

#form_detail{
    width: 50vw;
    height: 100%;
    margin: 30px auto 0 auto;
    border: 1px solid #dacfcf;
    border-radius: 20px;
    margin-bottom: 15vh;

}

#form_detail form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}


#form_detail form input,
#form_detail form text,
#form_detail form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #dacfcf;
}

#form_detail form button{
    font-size: 15px;
    color: #F0F0F0;
    padding: 10px 25px 10px 25px;
    margin-top: 19px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    border: 2px solid #cce7d0;
    background-color: rgb(100, 15, 15);
    transition: 0.8s;

}

#form_detail form button:hover{
    background-color: #780606;
}

#form_detail .people{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form_detail .people img{
    width: 5.5vw;
    height: 12vh;
    object-fit: cover;
    margin-right: 15px;
}

#form_detail .people p{
    margin: 0;
    line-height: 25px;
    font-size: 13px;
}

#form_detail .people p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}




/* start media query */




@media(max-width:1440px){
    #header{
        padding: 3px 10px;
    }

    #header .logo {
        height: 6vh;
    }
    
    #navbar li {
        padding: 0 37px 20px 15px;
        margin-top: 8px;
    }

    
    .upper {
        font-size: 17px;
        padding: 5px 0px 3px 0px;
        text-align: center;
    }
    
    .main {
        height: 70vh;
        width: 100%;
    }

    .text-box h3 {
        font-size: 2vw;
    }

    .text-box .btn {
        font-size: 22px;
        width: 177px;
        padding: 22px 0px;
        margin: 8px 10px;
        border-radius: 50px;
        transition: .2s;
    }
    

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }

    

    .text-box h1 {
        padding: 0 0px;
    }

    
    #product1 .pro {
        width: 24%;
        margin: 13px -14px 33px;
    }

    #product1 .pro .des span {
        color: #606063;
        font-size: 16px;
    }

    #product1 .pro-container {
        padding: 0px;
    }

    #product1 .pro .des h4 {
        font-size: 19px;
    }

    #product1 .pro .des h5 {
        font-size: 14px;
    }

    #product1 .pro .des strike {
        font-size: 14px;
    }

    #product1 .pro .cart {
        width: 3vw;
        height: 44px;
        line-height: 44px;
        bottom: 37px;
        right: 15px;
    }

    #banner {
        height: 35vh;
    }

    .section-p1 {
        padding: 28px 46px;
    }

    #sm-banner .banner-box{
        height: 45vh;
    }

    #sm-banner h2 {
        font-size: 35px;
        padding-bottom: 10px;
    }
    #sm-banner span {
        color: #ffffff;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    #sm-banner h4 {
        font-size: 30px;
    }


    .banner-box button {
        font-size: 20px;
    }


    #banner3 {
        padding: 20px 45px;
    }
    
    #banner3 h2 {
        padding-left: 5px;
        font-size: 2vw;
        margin-bottom: 8px;
    }

    #banner3 h3{
        padding-left: 5px;
        font-size: 1.8vw;
    }

    #banner3 .banner-box{
        width: 32%;
        height: 38vh;
        padding: 10px;
        margin-bottom: 20px;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    #blog .blog-details p{
        font-size: 22px;
    }

    #blog-head{
        height: 57vh;
    }

}


@media(max-width:1280px){
    #header{
        padding: 3px 10px;
    }

    #header .logo {
        height: 8vh;
    }
    
    #navbar li {
        padding: 0 37px 20px 15px;
        margin-top: 8px;
    }

    
    .upper {
        font-size: 17px;
        padding: 5px 0px 3px 0px;
        text-align: center;
    }
    
    .main {
        height: 70vh;
        width: 100%;
    }

    .text-box h3 {
        font-size: 2vw;
    }

    .text-box .btn {
        font-size: 22px;
        width: 177px;
        padding: 22px 0px;
        margin: 8px 10px;
        border-radius: 50px;
        transition: .2s;
    }
    

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }

    

    .text-box h1 {
        padding: 0 0px;
    }

    
    #product1 .pro {
        width: 24%;
    }

    #product1 .pro-container {
        padding: 0px;
    }

    #product1 .pro .des h4 {
        font-size: 15px;
    }

    #product1 .pro .des strike {
        font-size: 11px;
    }

    #product1 .pro .cart {
        width: 4vw;
        height: 40px;
        line-height: 40px;
        bottom: 37px;
        right: 10px;
    }

    #banner {
        height: 30vh;
    }

    .section-p1 {
        padding: 28px 46px;
    }

    #sm-banner .banner-box{
        min-width: 101%;
        height: 70vh;
        margin: 0 0px 50px;
    }

    #sm-banner h2 {
        font-size: 45px;
        padding-bottom: 10px;
    }
    #sm-banner span {
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    #sm-banner h4 {
        font-size: 30px;
    }


    .banner-box button {
        font-size: 20px;
    }


    #banner3 {
        padding: 20px 45px;
    }
    
    #banner3 h2 {
        padding-left: 15px;
        font-size: 4vw;
        margin-bottom: 8px;
    }

    #banner3 h3{
        padding-left: 15px;
        font-size: 3vw;
    }

    #banner3 .banner-box {
        height: 40vh;
        padding: 0px;
        margin-bottom: 20px;
        width: 32%;
    }

    #banner3 .banner-box{
        width: 100%;
        margin-bottom: 50px;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    #blog .blog-details p{
        font-size: 22px;
    }

    #blog-head{
        height: 57vh;
    }

}



@media(max-width:1024px){

    #header{
        padding: 3px 10px;
    }

    #header .logo {
        height: 4vh;
    }
    
    #navbar li {
        margin-top: 5px;
        padding: 0 37px 19px 15px;
    }

    
    .upper {
        font-size: 15px;
        padding: 7px 0px 5px 10px;
        text-align: center;
    }
    
    .main {
        height: 50vh;
        width: 100%;
    }

    .text-box h1 {
        font-size: 6vw;
        line-height: 60px;
        padding: 0 0px;
    }

    .text-box h2 {
        font-size: 2vw;
        line-height: 30px;
        
    }

    .text-box h3 {
        font-size: 2vw;
    }

    .text-box .btn {
        font-size: 17px;
        width: 134px;
        padding: 13px 0px;
        margin: 8px 10px;
        border-radius: 50px;
        transition: .2s;
    }

    .text-box span.text {
        font-size: 46px;
        line-height: 60px;
        font-weight: bold;
        color: #ffff;
    }
    
    a.button{
        padding: 18px 28px;
        margin-top: 20px;
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }

    #feature {
        
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    } 

    

    
    #product1 .pro {
        width: 24%;
    }

    #product1 .pro-container {
        padding: 0px;
    }

    #product1 .pro .des h4 {
        font-size: 15px;
    }

    #product1 .pro .des strike {
        font-size: 11px;
    }

    #product1 .pro .cart {
        width: 4vw;
        height: 40px;
        line-height: 40px;
        bottom: 37px;
        right: 10px;
    }

    #banner {
        height: 30vh;
    }

    .section-p1 {
        padding: 28px 46px;
    }

    #sm-banner .banner-box{
        min-width: 101%;
        height: 65vh;
        margin: 0 0px 50px;
    }

    #sm-banner h2 {
        font-size: 45px;
        padding-bottom: 10px;
    }
    #sm-banner span {
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    #sm-banner h4 {
        font-size: 30px;
    }


    .banner-box button {
        font-size: 20px;
    }


    #banner3 {
        padding: 20px 45px;
    }
    
    #banner3 h2 {
        padding-left: 15px;
        font-size: 4vw;
        margin-bottom: 8px;
    }

    #banner3 h3{
        padding-left: 15px;
        font-size: 3vw;
    }

    #banner3 .banner-box {
        height: 60vh;
        padding: 0px;
        margin-bottom: 20px;
        width: 32%;
    }

    #banner3 .banner-box{
        width: 100%;
        margin-bottom: 50px;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /*                                          blog  */

    #blog-head{
        height: 45vh;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }


    #blog .blog-img {
        width: 100%;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #blog .blog-details p{
        font-size: 22px;
    }


    /*                                          contact  */

    #form_detail{
        height: 100vh;
        margin-bottom: 10vh;
    }
}








@media(max-width:820px){
    .section-p1{
        padding: 40px 40px;
    }
    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(236, 240, 243);
        padding: 0px 19px;
        /* z-index: 972; */
        position: sticky;
        top: 0px;
        /* left: -3px; */
    }

    #header .logo {
        height: 4vh;
    }


    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow:  0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active{
        right: 0px;
    }


    #navbar li {
        margin-bottom: 20px
    }


        /* for menu icon  */
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 20px;
        padding-left: 25px;

    }

        /* for closing the navbar  */
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    .upper {
        font-size: 14px;
        padding: 0px 15px 3px 8px;
        text-align: center;
    }


    /* slides  */

    .main {
        height: 50vh;
    }
    .slide .text-box {
        position: absolute;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 100;
    }
    .text-box h1 {
        font-size: 40px;
        color: #fff;
        padding: 0px 120px;
    }
    .text-box h2 {
        font-size: 2vw;
        color: #ffff;
    }

    .text-box h3 {
        font-size: 2vw;
        padding: 10px 45px;
    }

    .text-box .btn {
        font-size: 20px;
        width: 150px;
        padding: 12px 0px;
        margin: 0px 19px;

    }
    .text-box span.text {
        font-size: 34px;
    }

    .text-box h2 {
        font-size: 3vw;
        color: #ffff;
        line-height: 40px;
    }

    a.button{
        width: 120px;
        padding: 12px 18px;
        margin-top: 10px;
    }

    /* slide --nav button  */

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }


    /* feature  */

    #feature {
        
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* products */

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        width: 42%;
        margin: 15px;
    }

    #product1 .pro .cart {
        width: 5vw;
    }

    #banner{
        height: 25vh;
    }


    #sm-banner .banner-box{
        min-width: 101%;
        height: 45vh;
        margin: 0 0px 50px;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 h2 {
        font-size: 30px;
    }

    #banner3 .banner-box {
        height: 40vh;
        padding: 0px;
        margin-bottom: 20px;
        width: 32%;
    }

    #banner3 .banner-box{
        width: 100%;
        margin-bottom: 50px;
    }

    #newsletter .form {
        width: 70%;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /*                           shop                                         */

    .shop-front {
        height: 32vh;
    }


    /*                                          blog  */

    #blog-head{
        height: 40vh;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-box h4{
        margin-top: 50px;
    }

    #blog .blog-img {
        width: 100%;
        height: 250px;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #blog .blog-details p{
        font-size: 20px;
    }

    /*                                                                      about */

    #about-head{
        height: 30vh;
    }

    #about{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    
    #about img{
        width: 100%;
        margin-bottom: 10px;
    }
    
    #about div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 80vw;
    }

    /*                                                      contact  */

    #form_detail {
        height: 100%;
        margin-bottom: 10vh;
    }
}




@media(max-width:768px){
    .section-p1{
        padding: 40px 40px;
    }
    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(236, 240, 243);
        padding: 0px 19px;
        /* z-index: 972; */
        position: sticky;
        top: 0px;
        /* left: -3px; */
    }

    #header .logo {
        height: 4vh;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow:  0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active{
        right: 0px;
    }


    #navbar li{
        margin-bottom: 20px;
    }


        /* for menu icon  */
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 20px;
        padding-left: 25px;

    }

        /* for closing the navbar  */
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    .upper {
        font-size: 12px;
        display: block;
        padding: 0px 15px 3px 8px;
        text-align: center;
    }


    /* slides  */

    .main {
        height: 50vh;
    }
    .slide .text-box {
        position: absolute;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 100;
    }
    .text-box h1 {
        font-size: 30px;
        line-height: 30px;
        padding: 0px 120px;
    }
    .text-box h2 {
        font-size: 2vw;
        color: #ffff;
    }

    .text-box h3 {
        font-size: 2vw;
        padding: 10px 45px;
    }

    .text-box .btn {
        font-size: 20px;
        width: 150px;
        padding: 12px 0px;
        margin: 0px 19px;

    }
    .text-box span.text {
        font-size: 34px;
    }

    .text-box h2 {
        font-size: 3vw;
        color: #ffff;
        line-height: 40px;
    }

    /* slide --nav button  */

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }


    /* feature  */

    #feature {
        
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* products */

    #product1 .pro img{
        height: 33vh;
    }

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        width: 42%;
        margin: 15px;
    }

    #product1 .pro .cart {
        width: 5vw;
    }

    #banner{
        height: 25vh;
    }


    #sm-banner .banner-box{
        min-width: 101%;
        height: 45vh;
        margin: 0 0px 50px;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 h2 {
        font-size: 30px;
    }

    #banner3 .banner-box {
        height: 40vh;
        padding: 0px;
        margin-bottom: 20px;
        width: 32%;
    }

    #banner3 .banner-box{
        width: 100%;
        margin-bottom: 50px;
    }

    #newsletter .form {
        width: 70%;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /*                           shop                                         */

    .shop-front {
        height: 32vh;
    }


    /*                                          blog  */

    #blog-head{
        height: 40vh;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }

    #blog .blog-details p{
        font-size: 20px;
    }


    /*                                   about                   */

    #about-head{
        height: 30vh;
    }

    #about{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    
    #about img{
        width: 100%;
        margin-bottom: 10px;
    }
    
    #about div {
        padding-left: 0px;
    }

    /*                                  single product image                      */


    #prodetails .single-pro-image #MainImage {
        height: 57vh;
    }

    .small-img-col img {
        height: 15vh;
    }

    #prodetails .single-pro-image {
        width: 80%;
        margin-right: 50px;
    }


    /*                              contact  */

    #form_detail form h2 {
        font-size: 25px;
    }

    #form_detail form{
        width: 100%;
    }

    #form_detail {
        width: 94vw;
    }
}




@media(max-width:600px){
    .section-p1{
        padding: 40px 40px;
    }
    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(236, 240, 243);
        padding: 0px 19px;
        /* z-index: 972; */
        position: sticky;
        top: 0px;
        /* left: -3px; */
    }

    #header .logo {
        height: 3.8vh;
    }


    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow:  0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active{
        right: 0px;
    }


    #navbar li{
        margin-bottom: 20px;
    }


        /* for menu icon  */
    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 20px;
        padding-left: 25px;

    }

        /* for closing the navbar  */
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    .upper {
        font-size: 10px;
        padding: 0px 15px 3px 8px;
        text-align: center;
    }


    /* slides  */

    .main {
        height: 40vh;
    }
    .slide .text-box {
        position: absolute;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 100;
    }
    .text-box h1 {
        font-size: 20px;
        line-height: 40px;
    }
    .text-box h2 {
        font-size: 2.8vw;
        line-height: 20px;
    }

    .text-box h3 {
        font-size: 2.2vw;
        padding: 10px 45px;
    }

    .text-box .btn {
        font-size: 16px;
        width: 119px;
        padding: 12px 0px;
        margin: 8px 0px;
    }

    .text-box span.text {
        font-size: 28px;
        line-height: 40px;
    }

    a.button{
        padding: 12px 18px;
        margin-top: 10px;
    }

    /* slide --nav button  */

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }


    /* feature  */

    #feature {
        
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* products */

    #product1 .pro-container{
        justify-content: center;
    }

    #product1 .pro{
        width: 42%;
        margin: 15px;
    }

    #product1 .pro .cart {
        width: 5vw;
    }

    #banner{
        height: 25vh;
    }


    #sm-banner .banner-box{
        min-width: 101%;
        height: 31vh;
        margin: 0 0px 50px;
    }

    #sm-banner h2 {
        font-size: 37px;
    }

    #sm-banner span {
        font-size: 26px;
    }

    #banner3{
        padding: 0 40px;
    }

    #banner3 h2 {
        font-size: 30px;
    }

    #banner3 .banner-box {
        height: 20vh;
        padding: 0px;
        margin-bottom: 20px;
        width: 32%;
    }

    #banner3 .banner-box{
        width: 100%;
        margin-bottom: 50px;
    }

    #newsletter .form {
        width: 70%;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    /*                           shop                                         */

    .shop-front {
        height: 32vh;
    }


    /*                                          blog  */

    #blog-head{
        height: 30vh;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /*                                  single product image                      */

    #prodetails {
        display: flex;
        flex-direction: column;
    }




    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 50px;
    }

    /*                                                      contact  */

    #contact_detail{
        flex-direction: column;
    }

    #contact_detail .detail{
        width: 100%;
    }

    #contact_detail .map {
        width: 90vw;
        height: 68vh;
        margin: 10vh 0 10vh 0vh;
    }

    #form_detail {
        width: 90vw;
        padding-left: 6vw;

    }

    #form_detail form{
        width: 100%;
    }

    #form_detail form h2 {
        font-size: 16px;
    }

    #contact_detail .detail span, #form_detail form span {
        
        margin-top: 17px;
    }

    #form_detail form input, 
    #form_detail form text, 
    #form_detail form textarea {
        width: 77vw;
    }

}





@media (max-width: 477px) {
    #header{
        padding: 0px 10px;
    }

    #header .logo {
        height: 3vh;
    }
    
    #mobile i {
        color: #1a1a1a;
        font-size: 15px;
        padding-left: 12px;
    }

    .upper {
        font-size: 8px;
        padding: 3px 14px 3px 8px;
    }

    .main{
        height: 30vh;
    }

    .text-box{
        top: 10vh;
    }

    p {
        margin: 10px 0 12px 0;
    }

    h1 {
        line-height: 41px;
        font-size: 38px;
    }

    h2{
        line-height: 23px;
    }

    .text-box h1 {
        font-size: 25px;
        color: #fff;
        padding: 0px 12px;
    }

    .nav-btn {
        height: 0px;
        width: 22px;
    }
    .text-box .btn {
        font-size: 9px;;
        width: 73px;
        padding: 10px 0px;
    }
    .text-box h3 {
        font-size: 3vw;
        padding: 3px 0;
    }
    .swiper-button-next {
        right: 4px;
    }
    
    .swiper-button-prev {
        left: 4px;
    }

    .text-box span.text {
        font-size: 20px;
    }

    a.button {
        font-size: 3vw;
        padding: 7px 14px;
        border-radius: 25px;
        margin-top: 5px;
    }

    #feature .fe-box {
        width: 230px;
        text-align: center;
        padding: 20px 5px;
        border-radius: 10px;
        margin: 15px 0;
    }

    #product1 .pro {
        width: 100%;
        margin: 10px;
    }

    #product1 .pro .cart {
        width: 12vw;
    }

    #banner {
        height: 20vh;
    }

    #banner h4 {
        font-size: 15px;
    }

    #banner h2 {
        font-size: 15px;
        padding: 3px 0;
    }

    button.normal {
        padding: 10px 12px;
        margin-top: 8px;
    }

    .section-p1 {
        padding: 12px 17px;
    }
    
    #banner{
        min-height: 100%;
        margin: 0 0px 50px;
    }

    #sm-banner .banner-box {
        min-width: 101%;
        height: 33vh;
        margin: 0 0px 23px;
    }

    #sm-banner h4 {
        font-size: 16px;
        padding: 0 0 10px;
    }

    #sm-banner h2 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    #sm-banner span {
        font-size: 21px;
    }

    #banner3 {
        padding: 0 15px;
    }

    #banner3 .banner-box {
        width: 63vh;
        margin-bottom: 30px;
    }

    #newsletter h4 {
        font-size: 15px;
        font-weight: 700;
    }
    #newsletter p {
        font-size: 15px;
    }

    #newsletter .form {
        width: 90%;
    }

    #newsletter button{
       padding-bottom: 20px;
    }

    #newsletter .sign{
        font-size: 14px;
        font-weight: 600;
        padding: 7px 23px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    footer .logo {
        margin-bottom: 15px;
        height: 5vh;
        margin-top: 10px;
    }

    footer .col {
        margin-bottom: 9px;
    }

    
    footer .install img {
        width: 37%;
        height: 12vw;
        margin: 10px 0 15px 0;
    }

    .install{
        margin-top: 20px;
    }

    /*                          shop                         */

    .shop-front {
        height: 22vh;
    }

    #pagination{
        margin-bottom: 20px;
    }


    /*                               single product                                         */

    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        
    }

    #prodetails .single-pro-image #MainImage{
        height: 46vh;
    }

    .small-img-col img{
        height: 10vh;
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    #prodetails .single-pro-details span {
        font-size: 16px;
    }

    /*                                                              Blog Page  */

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }


    /*                                              about */

    #about-head{
        height: 30vh;
    }

    #about{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #about img{
        width: 100%;
        margin-bottom: 20px;
    }

    #about div {
        padding-left: 0px;
    }

    #about div p{
        line-height: 25px;
    }

    #about div h2{
        font-size: 40px;
    }

    #about-app .video {
        width: 90vw;
    }
}


@media (max-width: 320px) {
    #header{
        padding: 0px 10px;
    }

    #header .logo {
        height: 3.5vh;
    }
    
    #mobile i {
        color: #1a1a1a;
        font-size: 19px;
        padding-left: 12px;
    }

    .upper {
        font-size: 6px;
        padding: 3px 14px 3px 8px;
    }

    .main{
        height: 30vh;
    }

    .swiper-pagination-bullet {
        height: 8px;
        width: 7px;
    }


    .text-box{
        top: 10vh;
    }

    p {
        margin: 10px 0 12px 0;
    }

    h1 {
        line-height: 41px;
        font-size: 38px;
    }

    h2{
        line-height: 23px;
    }

    .text-box h1 {
        font-size: 15px;
        line-height: 30px;
    }

    .nav-btn {
        height: 0px;
        width: 22px;
    }

    .text-box .btn {
        font-size: 9px;;
        width: 73px;
        padding: 10px 0px;
    }

    .text-box h3 {
        font-size: 3vw;
        padding: 3px 0;
    }

    .swiper-button-next {
        right: 4px;
    }
    
    .swiper-button-prev {
        left: 4px;
    }

    .text-box span.text {
        font-size: 13px;
        line-height: 10px;
    }

    a.button {
        font-size: 3vw;
        padding: 7px 14px;
        border-radius: 25px;
        margin-top: 5px;
        width: 12vh;
    }

    #feature .fe-box {
        width: 230px;
        text-align: center;
        padding: 20px 5px;
        border-radius: 10px;
        margin: 15px 0;
    }

    #product1 .pro img {
        height: 28vh;
    }

    #product1 h2{
        line-height: 40px;
    }

    #product1 .pro {
        width: 100%;
        margin: 10px;
    }


    #product1 .pro .cart {
        width: 12vw;
    }

    #banner {
        height: 20vh;
    }

    #banner h4 {
        font-size: 10px;
    }

    #banner h2 {
        font-size: 12px;
        padding: 3px 0;
    }
    
    button.normal {
        font-size: 10px;
        padding: 10px 12px;
        width: 29%;
        margin-top: 8px;
    }

    .section-p1 {
        padding: 12px 17px;
    }
    
    #banner{
        min-height: 100%;
        margin: 0 0px 50px;
    }

    #sm-banner .banner-box {
        min-width: 101%;
        height: 30vh;
        margin: 0 0px 23px;
    }

    #sm-banner h4 {
        font-size: 16px;
    }

    #sm-banner h2 {
        font-size: 12px;
    }

    #sm-banner span {
        font-size: 15px;
        padding: 0;
    }

    #sm-banner span.diff {
        font-size: 13px;
        padding-bottom: 10px;
    }

    .banner-box button {
        font-size: 10px;
        padding: 8px;
        margin-top: 7px;
    }

    #banner3 {
        padding: 0 15px;
    }

    #banner3 h2 {
        font-size: 18px;
    }

    #banner3 .banner-box {
        width: 63vh;
        margin-bottom: 30px;
    }

    #newsletter h4 {
        font-size: 15px;
        font-weight: 700;
    }

    #newsletter input {
        height: 2.15rem;
        padding: 0 0.5rem;
        font-size: 10px;
    }

    #newsletter p {
        font-size: 10px;
    }

    #newsletter .form {
        width: 90%;
    }

    #newsletter button{
       padding-bottom: 20px;
    }

    #newsletter .sign{
        font-size: 12px;
        width: 30%;
        font-weight: 600;
        padding: 11px 10px;
        color: #000;
        background-color: #045b55;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        outline: none;
    }

    footer .logo {
        margin-bottom: 15px;
        height: 5vh;
        margin-top: 10px;
    }

    footer .col {
        margin-bottom: 9px;
    }

    footer p{
        font-size: 13px;
        color: #465b52;
        margin: 5px 0 6px 0;
    }

    footer h4{
        font-size: 18px;
        padding-bottom: 0px;
        margin-top: 15px;
    }

    footer a{
        font-size: 11px;
        margin-top: 10px;
    } 

    
    footer .install img {
        width: 53%;
        height: 13vw;
        margin: 10px 0 15px 0;
    }

    .install{
        margin-top: 20px;
    }

    /*                          shop                         */

    .shop-front {
        height: 22vh;
    }

    #pagination{
        margin-bottom: 20px;
    }

    #pagination a {
        padding: 6px 10px;
        border-radius: 15px;
    }


    /* single product */

    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        
    }

    #prodetails .single-pro-details {
        width: 100%;
    }

    #prodetails .single-pro-details span {
        font-size: 16px;
    }

    /*                                                              Blog Page  */

    #blog {
        padding: 100px 20px 0 20px;
    }
    
    #blog img{
        width: 100%;
        height: 250px;
    }

    #blog .blog-details p {
        font-size: 12px;
    }

    #blog .blog-box h1{
        top: -106%;
        font-size: 50px;
    }

    #blog .blog-box h4{
        font-size: 15px;
    }

    #blog .blog-details a {
        font-size: 13px;
    }

    #blog .blog-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-bottom: 25px;
    }

    #blog .blog-details {
        width: 100%;
    }
}
